# PostgreSQL
POSTGRES_USER=pharmacy_user
POSTGRES_PASSWORD=supersecretpassword
POSTGRES_DB=pharmacy

# Backend
BACKEND_PORT=8000
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

# Frontend
REACT_APP_API_URL=http://localhost:8000/api